@import 'base.mixins';

*{
  box-sizing: border-box;
  @include font(1);
  &::after,
  &::before{
    box-sizing: border-box;
    font-size: inherit;
  }
}

html{
  font-size: 62.5%;
  line-height: 1.5;
  @include make-font;
}
h1{
  @include font-xl(5);
}
h2{
  @include font(4)
}
h3{
  @include font-l(3);
  text-transform: uppercase;
}
h4{
  @include font(2);
}
h5, p{
  @include font(1);
}

.visually-hidden {
  @extend %visuallyhidden;
}

