@import 'modularscale';

@mixin make-font($font-weight: normal, $font-style: normal){
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin make-font-size($num, $line-height: 1.5){
  font-size: ms($num);
  line-height: ms($num) * 1.5;
}

@mixin font($size: 0){
  @include make-font;
  @include make-font-size($size);
}

@mixin font-i($size: 0){
  @include make-font(normal, italic);
  @include make-font-size($size);
}

@mixin font-b($size: 0){
  @include make-font(bold, normal);
  @include make-font-size($size);
}

@mixin font-bi($size: 0){
  @include make-font(bold, italic);
  @include make-font-size($size);
}

@mixin font-l($size: 0){
  @include make-font(300, normal);
  @include make-font-size($size);
}

@mixin font-li($size: 0){
  @include make-font(300, italic);
  @include make-font-size($size);
}

@mixin font-xl($size: 0){
  @include make-font(200, normal);
  @include make-font-size($size);
}

@mixin font-xli($size: 0){
  @include make-font(200, italic);
  @include make-font-size($size);
}

@mixin font-sb($size: 0){
  @include make-font(600, normal);
  @include make-font-size($size);
}

@mixin font-sbi($size: 0){
  @include make-font(600, italic);
  @include make-font-size($size);
}

@mixin font-bla($size: 0){
  @include make-font(900, normal);
  @include make-font-size($size);
}

@mixin font-blai($size: 0){
  @include make-font(900, italic);
  @include make-font-size($size);
}