// Fonts
$font-family: 'Source Sans Pro';

// Grid
$enable-standalone-grid: true !default;
$grid-columns: 12;
$grid-gutter-width-base: 30px;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Fonts
$modularscale: (
  base: 1rem,
  ratio: 1.4
);

// Images
$image-path: 'images/' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

// Icons
$icon-xs: 10px;
$icon-sm: 20px;
$icon-md: 30px;
$icon-lg: 50px;
$icon-xl: 70px;
